*, ::after, ::before {
    padding: 0;
    margin: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100vh;
    background: blueviolet;
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 100%;
    text-align: center;
    color: #fff;
    display: grid;
    grid-template: repeat(2, auto) 1fr / 1fr;
    gap: 15px;
}

h1 {
    text-transform: uppercase;
}

.years {
    font-size: 30px;
    font-weight: 700;
}

.date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    background-color: blue;
    padding: 10px;
}

.date div {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}

.date div span {
    font-size: 35px;
}








